body {
    margin: 0;
    font-family: "Arial";
    overflow:auto;
}

#navbar {
    background-color: #212529;
    font-family: "Arial";
}

#nav1 {
    color: white;
    font-family: "Arial";
    font-size: 20px;
    cursor: pointer;
}

.container {
    width: 65%;
    margin: auto;
}

.content {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: row;
}

#navbar a {
    text-decoration: none;
    font-size: 18px;
    border: none;
    background: none;
    color: gray;
    cursor: pointer;
    margin: 10px;
}

#navbar a:hover {
    color: rgb(226, 225, 225);
}



#img {
    width: 670px;
    height: 320px;
    border-radius: 5px;
    background: #dee1e6;
    text-align: center;
    position: relative;
    margin-right: 50px;
}

#count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: "微軟正黑體";
    color: gray;
    font-weight: 500;
}
#head .content{
    justify-content:center;
}
#head_info {
    width: 45%;
}

#head_info h1 {
    font-size: 40px;
    margin: 5px;
    font-weight: 500;
    padding: 0;
}

#head_info p {
    line-height: 20px;
    font-size: 18px;
    font-weight: 100;
}
#head button{
   padding: 9px;
   background: #0D6EFD;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 18px;
}
#head button:hover{
    background:  #0d66eb;
}
#main{
    width: 100%;
    height: 100%;
}
#text {
    width: 100%;
    height: 100px;
    background: #6c757d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text p {
    color: white;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 31%;
    height: 250px;
    border: 1px solid #bbb;
    border-radius: 5px;
    position: relative;
}
.col_head{
    width: 100%;
}
.col_head h2{
    padding: 15px;
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}
.col_head p{
    margin: 0px 15px 0px 15px;
    line-height: 24px;
    font-size: 18px;
}
.col_footer{
    width: 100%;
    height: 20%;
    border-top: 1px solid #bbb;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #eee;

}
.col_footer button{
   margin: 1rem;
   padding: 9px;
   background: #0D6EFD;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.col_footer button:hover{
    background:  #0d66eb;
}
#footer{
    width: 100%;
    height: 80%;
    background: #212529;

}

#footer_info{
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_info p{
    color: white;
}

